# Node modules
node_modules/

# Logs
logs
*.log
*.log.*

# Environment files
.env

# Operating System files
.DS_Store
Thumbs.db

# NPM Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
/dist
/build

# Dependency directories
coverage/

# IDE files (optional)
.idea/
.vscode/

# Package lock file (if you are using Yarn, add yarn.lock to be ignored as well)
package-lock.json
